html {
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.page-wrapper {
  border: 2px solid #fff;
  border-radius: 12px;
  width: max-content;
  margin: 3em 3em;
  text-align: center;
}
body {
  /* font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif !important; */
  margin: 0;
  padding: 0;
  color: #fff;
  display: block;
  background-image: url("gif-tree.gif");
  background-repeat: round;
}

p {
	/* font-family: Consolas; */
	display: inline-block;
	border-radius: 2px;
	background-color: #9C1C00;
	border: none;
	color: #ffffff;
	text-align: center;
	font-size: 16px;
	padding: 12px;
	width: max-content;
	margin: 5px;
	box-sizing: border-box;
	border: 3px solid #ccc;
	border-radius: 12px;
	position: center;

}
