html {
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.page-wrapper {
  border: 2px solid #fff;
  border-radius: 12px;
  margin: 3em 3em;
  text-align: center;
  height: fit-content;
}
body {
  margin: 0;
  padding: 0;
  color: #fff;
  background-image: url("tree.jpeg");
  /* background-repeat: space; */
  background-repeat: no-repeat fixed;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  align-content: stretch;
  background-size: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

form {
  margin: 2em;
}
.info-text {
  margin: 1em auto;
  border: 1px solid #fff;
  border-radius: 25px;
  padding: 0.3em 0.5em;
  width: fit-content;
}
input[type="text"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0 2em;
  box-sizing: border-box;
  border: 3px solid #ccc;
  border-radius: 12px;

  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
}

input[type="text"]:focus {
  border: 3px solid #555;
  border-radius: 12px;
}
#newList {
  position: relative;
  float: right;
  height: max-content;
  width: max-content;
  background-color: rgb(13, 13, 112);
  margin-right: 3em !important;
  border: 4px solid rgb(61, 29, 201);
  border-radius: 12px;
  padding: 1em 1.5em;
  /* margin: 8px 0 2em; */
}

input[type="submit"] {
  display: inline-block;
  background-color: #9c1c00;
  color: #ffffff;
  text-align: center;
  font-size: 16px;
  padding: 12px;
  width: 150px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
  box-sizing: border-box;
  border: 3px solid #ccc;
  border-radius: 25px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
}

/* .button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}*/

input[type="submit"]:after {
  content: "\00bb";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

input[type="submit"]:hover {
  padding-right: 25px;
  opacity: 1;
  right: 0;
  background-color: white;
  color: #9c1c00;
}

select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0 2em;
  box-sizing: border-box;
  border: 3px solid #ccc;
  border-radius: 12px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
}
